{%extends 'parent.html'%}
{%block tit%}
Courses _ List
{%endblock%}
{%block header%}
Courses _ List
{%endblock%}
{%block content%}
<h1>{{1 | add:2}}</h1>
    <table width="100%" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {%for course in courses%}
            <tr>
                <td>{{course.id}}</td>
                <td>{{course.name}}</td>
                <td>
                    <a href="{%url 'coursedelete' course.id %}">Delete</a>
                    <a href="{%url 'courseupdate' course.id %}">update</a>
                </td>
            </tr>
        {%endfor%}
    </table>

{%endblock%}