{% extends 'parent.html' %}

{% block tit %}
Trainees _ ADD
{% endblock %}

{% block header %}
Trainees _ Header
{% endblock %}

{% block content %}
<div class="main-w3layouts wrapper">
    <h1 style="color:grey;">Add Trainee</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form method="post">
                {% csrf_token %}
                <input style="background-color:blue;" class="text" type="text" name="trainee_name" placeholder="Name" required="">
                <select name="course">
                    {%for course in courses%}
                        <option value="{{course.id}}">{{course.name}}</option>
                    {%endfor%}
                </select>        
                <input type="submit" value="ADD">
            </form>
        </div>
    </div>
    

</div>

{% load static %}
<!-- Custom Theme files -->
<link href="{% static 'mycss/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

{% endblock %}