{%extends 'parent.html'%}
{%block tit%}
Trainees _ List
{%endblock%}
{%block header%}
Trainees _ List
{%endblock%}
{%block content%}
<h1>{{1 | add:2}}</h1>
    <table width="100%" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Course Name</th>
            <th>Actions</th>
        </tr>
        {%for trainee in trainees%}
            <tr>
                <td>{{trainee.id}}</td>
                <td>{{trainee.name}}</td>
                <td>{{trainee.course_id.name}}</td>
                <td>
                    <a href="{%url 'traineedelete' trainee.id %}">Delete</a>
                    <a href="{%url 'traineeupdate' trainee.id %}">Update</a>
                </td>
            </tr>
        {%endfor%}
    </table>

{%endblock%}